.dart_tool/
.idea/
.vscode/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
**/build/
**/ios/Pods/
**/android/.gradle/
**/android/local.properties
**/*.keystore
**/*.jks
**/*.iml
**/*.log
**/DerivedData/
**/.symlinks/
**/flutter_export_environment.sh
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cmake
*.zip
*.msi
*.exe
*.apk
*.aab
!apps/windows/windows/runner/resources/app_icon.ico
!apps/android/android/app/src/main/res/mipmap-*/ic_launcher.png
